# Python Tutorials

## Content

<ol>
<li> Basic
    <ul>
        <li>Line & Identation</li>
        <li>Comment</li>
        <li>Variable Identifier</li>
    </ul>
</li>
<li>Data Type
    <ul>
        <li>Number</li>
        <li>String</li>
        <li>Boolean</li>
        <li>List</li>
        <li>Tuple</li>
        <li>Set</li>
        <li>Dictionary</li>
    </ul>
</li>
<li> Operator
    <ul>
        <li>Comparision Operator</li>
        <li>Logic Operator</li>
    </ul>
</li>
<li> Control Flow
    <ul>
        <li>if,elif, else Statements</li>
        <li>for-Loop</li>
        <li>while-Loop</li>
    </ul>
</li>
<li> Function </li>

### Markdown Sidenote
 * This text is written in a Markdown block. Markdown is straightforward way to format writeups in Jupyter.

 * You can also look at existing Markdown examples (i.e. this worksheet) and emulate the style. Double click a Markdown box in Jupyter to show the code.

### 1. Basic

<hr>

#### Comment

Comments starts with a #, and Python will ignore them:

In [1]:
# here is comment

Python does not really have a syntax for multi line comments.

To add a multiline comment you could insert a # for each line:

To do: run the cell below.

In [4]:
# This is a comment
# written in
# more than just one line
print("Hello, World!")

Hello, World!

#### Line & Indentation

Python provides no braces to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.

The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount.

E.g.

```
if True:
   print "True"
else:
   print "False"
```

However, the following block generates an error.

```
if True:
print "Answer"
print "True"
else:
print "Answer"
print "False"
```

To do: run the cell below.

In [79]:
if True:
   print ("True")
else:
   print ("False")

True

To do: run the cell below.

In [78]:
if True:
    print ("Answer")
    print ("True")
else:
    print ("Answer")
    print ("False")

Answer
True

#### Varaible Identifier

A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9).

E.g. my_class, account_number, is_true...

#### Reserved Words
The following list shows the Python keywords. These are reserved words and you cannot use them as constant or variable or any other identifier names. All the Python keywords contain lowercase letters only.

|     |     |     |
|-----|-----|-----|
| and | exec | not |
| assert | finally | or |
| break | for | pass |
| class | from | print | 
| continue | global | raise |
| def | if | return |
| del | import | try |
| elif | in | while |
| else | is | with |
| except | lambda | yield |

To do: Declare variable named city = 'Phnom Penh'

In [7]:
#write your code here
city = 'PhnomPenh'
print(city)

PhnomPenh

In [1]:
#A variable stores a piece of data and gives it a name
answer = 42

#these both are 'booleans' or true/false values

pi_approx = 3.1415

#This will be a floating point number, or a number containing digits after the decimal point

my_name = "Jacob"
#This is a string datatype, the name coming from a string of characters

#Data doesn't have to be a singular unit

#p.s., we can print all of these with a print command. For Example:
print(answer)
print(pi_approx)

42
3.1415

In [1]:
#operators
float1 = 5.75
float2 = 2.25
#Addition, subtraction, multiplication, division are as you expect

print(float1 + float2)
print(float1 - float2)
print(float1 * float2)
print(float1 / float2)
print(5 % 2)

8.0
3.5
12.9375
2.5555555555555554
1

### 1. Data Type

<hr>

#### Number

There are three numeric types in Python:
<ol>
    <ul>
        <li>Integer</li>
        <li>Float</li>
        <li>Complex</li>
    </ul>
<ol>

In [8]:
#run this
# integer
x = 12
print(type(x))

<class 'int'>

In [9]:
#run this
# float
x = 12.23
print(type(x))

<class 'float'>

In [10]:
#run this
# complex
z = 1j
print(type(z))

<class 'complex'>

#### String

String literals in python are surrounded by either single quotation marks, or double quotation marks.

In [11]:
'single quotes'

'single quotes'

In [12]:
"double quotes"

'double quotes'

In [13]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

#### Boolean

In python Booleans represent one of two values: True or False.

In [14]:
True

True

In [80]:
False

False

In [15]:
is_it_thursday = True
is_it_wednesday = False

#these both are 'booleans' or true/false values

In [77]:
is_it_thursday 
is_it_wednesday

False

In [17]:
x = 2
x > 3

False

#### List

Lists use the square bracket notation and can be index using array notation.

In [18]:
[1, 2, 3]

[1, 2, 3]

In [19]:
# with different data type
['hi', 1, 2, 3]

['hi', 1, 2, 3]

In [20]:
# nested list
['hi', 1, [1, 2]]

['hi', 1, [1, 2]]

In [21]:
my_list = ['a','b','c']
my_list

['a', 'b', 'c']

In [22]:
# length of list
len(my_list)

3

In [23]:
# loop in list
for e in my_list:
    print(e)

a
b
c

In [24]:
# get index during loop in list
for idx, e in enumerate(my_list):
    print(idx, e)

0 a
1 b
2 c

In [25]:
# add new element
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [26]:
# access element by index
my_list[0]

'a'

In [27]:
# access elements until index
my_list[:2]

['a', 'b']

In [28]:
# access elements from index
my_list[1:]

['b', 'c', 'd']

In [29]:
# access elements between indexes
my_list[1:3]

['b', 'c']

In [30]:
# acess element in nested list
nested_list = ['hi', 1, [1, 2]]

nested_list[2][0]

1

In [31]:
# delete element by index
print(my_list)
del my_list[0]
my_list

['a', 'b', 'c', 'd']

['b', 'c', 'd']

In [32]:

#What if we want to store many integers? We need a list!
prices = [10, 20, 30, 40, 50]

#This is a way to define a list in place. We can also make an empty list and add to it.
colors = []

colors.append("Green")
colors.append("Blue")
colors.append("Red")

print(colors)

['Green', 'Blue', 'Red']

In [33]:
#We can also add unlike data to a list
prices.append("Sixty")



print(prices)

[10, 20, 30, 40, 50, 'Sixty']

In [34]:
#We can access a specific element of a list too:

print(colors[0])
print(colors[2])

#Notice here how the first element of the list is index 0, not 1!

Green
Red

#### Tuple

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets. You can access tuple items by referring to the index number, inside square brackets:

In [35]:
tuple = (1, 2, 3)
tuple

(1, 2, 3)

In [36]:
# access tuple
tuple[0]

1

In [37]:
tuple[1:3]

(2, 3)

In [38]:
# length of the tuple
len(tuple)

3

#### Set

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets. Once a set is created, you cannot change its items, but you can add new items.

You cannot access items in a set by referring to an index, since sets are unordered the items has no index. However, you can loop through the set items using a <code>for</code> loop, or ask if a specified value is present in a set, by using the <code>in</code> keyword.

In [39]:
{1, 2, 3}

{1, 2, 3}

In [40]:
{1, 2, 3, 1, 2, 1, 2, 3, 3, 3, 3, 2, 2, 2, 1, 1, 2}

{1, 2, 3}

In [41]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [42]:
# add element
thisset.add("orange")
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [43]:
# length of set
len(thisset)

4

#### Dictionary

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [47]:
dict = {'key1':'item1','key2':'item2'}
dict

{'key1': 'item1', 'key2': 'item2'}

In [45]:
# access element
dict['key1']

'item1'

There is also a method called get() that will give you the same result:

In [48]:
dict.get("key3", 'DEFAULT')

'DEFAULT'

In [49]:
# add/update element
dict['key1'] = 12
print(dict)

{'key1': 12, 'key2': 'item2'}

You can read a lot more about Python data structures in the __[documentation](https://docs.python.org/3.5/tutorial/datastructures.html)__.

### 3. Operator

<hr>

Operators are used to perform operations on variables and values.

#### Comparision Operators

|Operator | Name | Example|
|--------|--------|--------|
|== | Equal | x == y | 
|!= | Not equal | x != y | 
|> | Greater than | x > y |
|< | Less than | x < y |
|>= | Greater than or equal to | x >= y | 
|<= | Less than or equal to | x <= y |

In [50]:
1 > 2

False

In [51]:
1 < 2

True

In [52]:
1 >= 1

True

In [53]:
1 <= 4

True

In [54]:
1 == 1

True

In [55]:
'hi' == 'bye'

False

In [56]:
1 != 2

True

#### Logic Operators

|Operator | Name | Example|
|-----------|-----------|-----------|
| and | Returns True if both statements are true | x < 5 and  x < 10 | 
| or | Returns True if one of the statements is true | x < 5 or x < 4 | 
| not | Reverse the result, returns False if the result is true | not (x < 5 and x < 10) |

(1 > 2) and (2 < 3)

In [57]:
(1 > 2) or (2 < 3)

True

In [58]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [59]:
not (3 < 4)

False

You can read a lot more about Python operators in the __[documentation](https://www.w3schools.com/python/python_operators.asp)__.

### 4. Control Flow

<hr>

#### if,elif, else Statements

In [60]:
if 1 < 2:
    print('Yep!')

Yep!

In [61]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [62]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

#### for-Loop

In [63]:
seq = [1, 2, 3, 4, 5]

for item in seq:
    print(item)

1
2
3
4
5

In [64]:
# access index when loop
for idx, item in enumerate(seq):
    print(idx, item)

0 1
1 2
2 3
3 4
4 5

In [65]:
# to loop in a range
for i in range(5):
    print(i)

0
1
2
3
4

In [66]:
fruit = ['apple', 'grape', 'orange', 'kiwi']

for i in range(2) :
    print(fruit[i])

apple
grape

In [67]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:    
    if num == 3:        
        break    
    print(num)

1
2

In [68]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:    
    if num == 3:        
        continue  
    print(num)

1
2
4
5

#### while-Loop

In [69]:
i = 0
while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 0
i is: 1
i is: 2
i is: 3
i is: 4

You can read a lot more about Python control flow in the __[documentation](https://docs.python.org/3.5/tutorial/controlflow.html)__.

### 5. Function

<hr>

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [70]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [71]:
# with parameter having default value
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [73]:
# with required assignemnt
def total(x,y):
    return x+y
total(1,2)

3

In [74]:
# with keyword arguments
def total(x,y):
    return x+y
total(x=1,y=2)

3

In [75]:
# with required assignemnt
def total(x,y):
    return x+y
total(2,3)

5

In [76]:
# return value
def my_function(x):
  return 5 * x

print(my_function(3))

15

You can read a lot more about Python control flow in the __[documentation](https://docs.python.org/3.5/tutorial/controlflow.html)__.

## Additional Resources
* If you still feel VERY lost: [Code Academy](https://www.codecademy.com/learn/python)

* If you want a good reference site: [Official Python Reference](https://docs.python.org/2/reference/)

* If you want to learn python robustly: [Learn Python the Hard Way](https://learnpythonthehardway.org/book/)